body {
	word-wrap:break-word;
}
ul, li {
	margin: 0;
	padding: 0;
}
ul li {
	list-style: none;
	width: 100%;
	border-top: none;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
	border-left: 1px solid gray;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	text-align: center;
}
ul li ul {
	margin-top: 10px;
}
li:first-child {
	border-top: 1px solid gray;
}
.button {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	text-align: center;
	background: cyan;
	border-radius: 3px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.button:hover {
	cursor: pointer;
}